* {
  box-sizing: border-box;
}

svg {
  display: block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  margin: 0 0 20px;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;
  line-height: 24px;
}

body {
  position: relative;
  min-width: 480px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetiva, Arial, sans-serif;
  font-weight: 800;
  font-size: 20px;
  font-style: oblique;
  line-height: 24px;
  letter-spacing: 5px;
  color: #444;
  background-color: #F2FAFF;
}

h1 {
  position: relative;
  display: inline-block;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 13px;
}

h1::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 20px;
  width: 75%;
  transform: translate(-20px, -10px);
  background-color: #FFF53F;
  opacity: 0.6;
  z-index: -1;
}

/*  BASE STYLES  */

header,
footer,
main {
  padding: 0 40px;
}

main {
  max-width: 880px;
  margin: 0 auto;
}

.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}

.width-3-4 {
  width: 75%;
}

/*  ELEMENT STYLES  */

.box {
  position: relative;
  padding: 24px;
  border: 0px dashed #00789c;
  /* background-color: white; */
  /* background-image: linear-gradient(to right, #00789c 50%, transparent 50%), linear-gradient(to right, #00789c 50%, transparent 50%), linear-gradient(to bottom, #00789c 50%, transparent 50%), linear-gradient(to bottom, #00789c 50%, transparent 50%); */
  /* background-position: left top, left bottom, left top, right top; */
  /* background-repeat: repeat-x, repeat-x, repeat-y, repeat-y; */
  /* background-size: 30px 3px, 30px 3px, 3px 30px, 3px 30px; */
  /* background-image: url('box.svg'); */
  /* background-size: 100% 100%; */
  white-space: nowrap;
  /* animation: flyIn 3s; */
  /* animation-delay: 1s; */
}

/* .box:hover {
  animation: wiggle .3s infinite;
  transform-origin: center center;
} */
/* 
@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-.1deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(.1deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

@keyframes flyIn {
  0% {
    transform: translateY(10000px) rotate(120deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/* .box--solid {
  background-image: linear-gradient(to right, #00789c 100%, transparent 100%), linear-gradient(to right, #00789c 100%, transparent 100%), linear-gradient(to bottom, #00789c 100%, transparent 100%), linear-gradient(to bottom, #00789c 100%, transparent 100%);
} */

.box svg,
.box object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

/* SECTION STYLES */

.skillsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.skillsList > li {
  padding: 20px;
}

.cvList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.cvList > li {
  margin-bottom: 80px;
  padding: 20px;
}

.cvList__item {
  position: relative;
}

.cvList__job,
.cvList__time {
  position: absolute;
}

.cvList__job::before,
.cvList__time::before {
  position: absolute;
  content: '';
  top: -28px;
  left: -28px;
  height: 50px;
  width: 50px;
  background-image: url('arrow.svg');
  background-size: cover;
}

.cvList__job {
  right: 40px;
  bottom: calc( -72px - 20px );
}

.cvList__time {
  left: 100%;
  bottom: calc( -72px - 20px );
}