@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content: #d9d9d9;
  --highlight-teal: #1cd889;
  --highlight-blue: #0079ff;
  --highlight-magenta: #ff0060;
  --highlight-yellow: #e3cd06;
  --highlight-orange: #ec4b23;
  --highlight: var(--content);
}

html {
  font-size: 20px;
}

body {
  @apply bg-black;
  @apply text-black;
  overflow-x: hidden;
  hyphens: auto;
}

p + p {
  margin-top: 1rem;
}

.leading-negative {
  line-height: 0.9;
}

.bg-highlight {
  background-color: var(--highlight);
}